<ion-header>
  <ion-toolbar>
    <ion-title>
      meu Primeiro App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Naruto
      </ion-card-title>
      <ion-card-subtitle>
        O Naruto pode s er um pouco duro as vezes
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illo, ratione velit earum odit neque itaque a quas
      consequuntur in, temporibus doloribus repellendus, eius tempore? Harum atque laborum maxime ipsam!
    </ion-card-content>
  </ion-card>
</ion-content>